<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- 包名扫描 -->
        <package name="cn.itcast.bean"/>
    </typeAliases>
    <mappers>
        <mapper resource="cn/itcast/mapper/UserMapper.xml"/>
        <mapper resource="cn/itcast/mapper/DoctorMapper.xml"/>
        <mapper resource="cn/itcast/mapper/RecommendMapper.xml"/>
        <mapper resource="cn/itcast/mapper/DoctorTypeMapper.xml"/>
        <mapper resource="cn/itcast/mapper/OrderMapper.xml"/>
    </mappers>
</configuration>